<!DOCTYPE html>

{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Koothardan - Sign in</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">KOOTHRADAN Family</br>Sign In</p>
    <form method="post" action="/login_page/register/">
        {% csrf_token %}
        <input name="username" class="un " type="text" align="center" placeholder="Username">
        <input name="email" class="em " type="text" align="center" placeholder="Email">
        <input name="password" class="pass" type="password" align="center" placeholder="Password">
        <button class="submit" type="submit" align="center">Register</button>
        <div class="forgot" align="center"><a href="#">Forgot Password?</a></div>
    </form>

</div>

</body>

</html>